<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron mt-2 text-center shadow-sm">
                <h1 class="display-4">{{ title }}</h1>
                <p class="lead">{{ presentation }}</p>
            </div>
        </div>
    </div>
    <app-post-list [postList]="posts"></app-post-list>
</div>
