<div [ngClass]="{
        'card mt-2 shadow-sm': true,
        'border-success': postLike > postDislike,
        'border-danger': postLike < postDislike
    }">
    <div [ngClass]="{
            'card-header': true,
            'bg-success': postLike > postDislike,
            'bg-danger': postLike < postDislike,
            'text-white': postLike !== postDislike
        }">
        <h3>{{ postTitle }}</h3>
    </div>
    <div [ngClass]="{
            'card-body': true,
            'alert-success': postLike > postDislike,
            'alert-danger': postLike < postDislike
        }">
        <h5 class="card-title">{{ postCreatedAt | date: 'dd/MM/y' }}</h5>
        <p class="card-text text-justify">{{ postContent }}</p>
        <button class="btn btn-success"
                (click)="onLoveIts()">
            Love it !
            <span class="badge badge-pill badge-light">
                {{ postLike }}
            </span>
        </button>
        <button class="btn btn-danger ml-2"
                (click)="onDislike()">
            Don't love it !
            <span class="badge badge-pill badge-light">
                {{ postDislike }}
            </span>
        </button>
    </div>
</div>