

<div class="row">
    <div class="col">
        <div class="card mt-2 mb-5 shadow-sm">
            <div class="card-header bg-pink text-white">
                {{title}}
            </div>
            <div class="card-body">
                <app-post-list-item *ngFor="let post of postList"
                                    [postTitle]="post.title"
                                    [postContent]="post.content"
                                    [postLike]="post.like"
                                    [postDislike]="post.dislike"
                                    [postCreatedAt]="post.createdAt">
                </app-post-list-item>
            </div>
        </div>
    </div>
</div>